<div class="top">
  <div class="top__center">
    <form class="top__center__form">
      <input type="text" placeholder="メッセージを入力してください" class="top__center__form__box">
      <input type="submit" value="送信">
    </form>
  </div>
</div>
<div class="contents">
  <div class="contents__space col-sm-4 col-md-4">
  </div>
  <div class="contents__main col-sm-4 col-md-4">
    <div class="contents__main__time col-sm-2 col-md-2">
      10:10:01
    </div>
    <div class="contents__main__name col-sm-3 col-md-3">
      YOU ＞
    </div>
    <div class="contents__main__message col-sm-7 col-md-7">
      こんにちは
    </div>
  </div>
  <div class="contents__space col-sm-4 col-md-4">
  </div>
</div>
